body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 35px;
}
#main{
    width: 960px;
    height: 360px;
    border-radius: 10px;
    background-color: #fa8f2d;
}
#container{
    width: 950px;
    height: 350px;
    display: panel-grid;
    align-items: left;
    border-radius: 10px;
    background-color: #222222;
   
}
#container h2{
    margin-top: 1px;
    margin-left: 20px;
    padding: 10px;
    font-size: 2rem;
    color: #fa8f2d;
    
}
#container p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    text-align: justify;
    color: #fa8f2d;
}
